<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">

    <link th:href="@{/admin/css/icons.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/css/app-creative.min.css}" rel="stylesheet" type="text/css" id="light-style">
    <link th:href="@{/admin/css/app-creative-dark.min.css}" rel="stylesheet" type="text/css">
</head>

<body data-layout-config="{&quot;leftSideBarTheme&quot;:&quot;dark&quot;,&quot;layoutBoxed&quot;:false, &quot;leftSidebarCondensed&quot;:false, &quot;leftSidebarScrollable&quot;:false,&quot;darkMode&quot;:true, &quot;showRightSidebarOnStart&quot;: true}" data-leftbar-theme="dark">
<!-- Begin page -->
<div class="wrapper">
    <div class="left-side-menu mm-show">
        <div class="left-side-menu">
            <a th:href="@{/}" class="logo text-center">
                <span class="logo-lg">
                    <img th:src="@{/images/logo.png}" alt="???" height="66">
                </span>
            </a>
            <div class="h-100" id="left-side-menu-container">
                <ul class="side-nav">
                    <li class="side-nav-title side-nav-item">Navigation</li>
                    <li class="side-nav-item">
                        <a class="side-nav-link">
                            <i class="uil-code"></i>
                            <span> Manage Products </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level mm-collapse">
                            <li>
                                <a th:href="@{/product}">Product</a>
                            </li>
                        </ul>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link">
                            <i class="uil-code"></i>
                            <span> Manage Sales </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level mm-collapse">
                            <li>
                                <a th:href="@{/sale}">Sale</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-page">
        <div class="content">
            <div class="navbar-custom">
                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="" alt="" class="rounded-circle">
                            </span>
                            <span>
<!--                                th:text="${username}"-->
                                <span class="account-user-name">[[${username}]]</span>
                                <span class="account-position">Ok</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                            <a th:href="@{/logout}" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout mr-1"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="app-search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                            <span class="mdi mdi-magnify search-icon"></span>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <section class="mt-3" layout:fragment="content">
                            <h1>Weo Come, Admin Home Page</h1>
                            <div class="row">
                                <div class="col-xl-12 col-lg-6">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="mdi mdi-account-multiple widget-icon bg-success-lighten text-success"></i>
                                                    </div>
                                                    <h5 class="text-muted font-weight-normal mt-0">Customers</h5>
                                                    <h3 class="mt-3 mb-3">[[${allUser}]]</h3>
                                                    <p class="mb-0 text-muted">
                                                        <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 5.27%</span>
                                                        <span class="text-nowrap">Since last month</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="mdi mdi-cart-plus widget-icon bg-danger-lighten text-danger"></i>
                                                    </div>
                                                    <h5 class="text-muted font-weight-normal mt-0">Orders</h5>
                                                    <h3 class="mt-3 mb-3">[[${allOrder}]]</h3>
                                                    <p class="mb-0 text-muted">
                                                        <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
                                                        <span class="text-nowrap">Since last month</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="mdi mdi-currency-usd widget-icon bg-info-lighten text-info"></i>
                                                    </div>
                                                    <h5 class="text-muted font-weight-normal mt-0">Tables</h5>
                                                    <h3 class="mt-3 mb-3">[[${allTable}]]</h3>
                                                    <p class="mb-0 text-muted">
                                                        <span class="text-danger mr-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
                                                        <span class="text-nowrap">Since last month</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="mdi mdi-pulse widget-icon bg-warning-lighten text-warning"></i>
                                                    </div>
                                                    <h5 class="text-muted font-weight-normal mt-0" title="Growth">Growth</h5>
                                                    <h3 class="mt-3 mb-3">+ 30.56%</h3>
                                                    <p class="mb-0 text-muted">
                                                        <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
                                                        <span class="text-nowrap">Since last month</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2022 - Final_Project
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/admin/js/vendor.min.js}"></script>
<script th:src="@{/admin/js/app.min.js}"></script>
